.heading
{
	text-align: center;
	padding-top: 10px;

}


.candidatesDiv
{
	padding-top: 20px;
}


.form-group
{
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}

.custom
{
	padding: 5px;
}
